html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  margin-top: 0px;
  font-family: 'Open Sans' Sans-Serif;
  color: #5b5b5b;
  font-size: 16px;
  height: 100%;
  line-height: 170%;
}
html {
  height: 100%;
}
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* Typographie and generalité */
h1 {
  color: #000;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Open Sans' Sans-Serif;
  font-weight: 100;
}
h2 {
  font-size: 12px;
  padding-top: 20px;
  margin-bottom: 20px;
}
h3 {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
h4 {
  font-family: 'Open Sans' Sans-Serif;
  padding-bottom: 20px;
  border-bottom: 2px solid #5b5b5b;
  text-transform: uppercase;
  font-size: 15px;
  width: 80%;
}
a {
  color: #0a64a0;
}
a:hover {
  color: #3d98cf;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}
.img-responsive {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.row {
  padding-top: 20px;
  padding-bottom: 80px;
}
/* Navigation */
body > nav > div > div.collapse.navbar-collapse.navbar-ex1-collapse > ul.nav.navbar-nav.navbar-right > li.dropdown > a {
  color: #60b934 !important;
}
li.dropdown.open a {
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.navbar-inverse .navbar-nav > .open > a {
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.btn-default {
  background-color: #60b934;
  text-transform: none;
  color: #fff;
  border-color: #60b934;
  padding: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.btn-default:hover {
  background-color: #7dd145;
  border-color: #7dd145;
  color: #ffffff;
}
div.row.signin {
  padding-top: 0px;
  padding-bottom: 0px;
}
ul.dropdown-menu {
  padding: 15px;
  min-width: 200px;
  max-height: 220px;
  border: none;
}
.form-group {
  margin-bottom: 0px;
  margin-top: 10px;
}
.form-control:-moz-placeholder {
  color: #b4bec8;
  border-radius: none;
}
.form-control::-moz-placeholder {
  color: #b4bec8;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #b4bec8;
}
.form-control::-webkit-input-placeholder {
  color: #b4bec8;
}
.navbar-inverse .btn-link {
  font-size: 10px;
  color: #0a64a0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.navbar-inverse .btn-link:hover {
  color: #3d98cf;
  text-decoration: none;
}
#signup {
  background-color: transparent;
  color: #0a64a0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #0a64a0;
  margin-left: 10px;
  text-transform: uppercase;
  margin-top: 5px;
  line-height: 10px;
}
#signup:hover {
  background-color: #0a64a0;
  color: #fff;
}
.btn-link {
  color: #0a64a0;
}
.btn-link:hover {
  color: #3d98cf;
  text-decoration: none;
}
body > nav > div > div.navbar-header > button.open.active {
  background-color: #fff;
}
.navbar-inverse .navbar-toggle {
  border-color: #d2d2d2;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle:hover {
  background-color: #ffffff;
}
.navbar-inverse .navbar-toggle:link {
  border-color: #0a64a0;
  background-color: #fff;
}
.navbar-inverse .navbar-toggle:link:hover {
  border-color: #0a64a0;
  background-color: #fff;
  color: #d2d2d2;
}
.navbar-inverse .navbar-toggle:focus {
  border-color: #0a64a0;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #0a64a0;
}
nav {
  padding: 15px 0px 15px 0px;
  z-index: 999;
}
.navbar-nav {
  margin-left: 40px;
}
.navbar-inverse {
  background-color: transparent;
  border-bottom: 1px solid transparent;
  border-top: none;
}
.navbar-inverse .navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #0a64a0;
}
/*.navbar-brand {
		height: 50px;
		width: 400px;
		float: left;
 	 	padding: 15px 15px;
  		font-size: 18px;
  		line-height: 20px;
	}*/
.navbar-brand img,
img#partner {
  height: 100%;
  margin-top: -7px;
}
img#partner {
  padding-left: 20px;
}
.scrolled {
  background-color: white;
  width: 40px;
  height: 40px;
  background: url("https://bankin.com/public/images/home/bankin_logo_sprite.png") no-repeat;
  background-position: 0px -35px;
}
nav.navbar-fixed-top {
  transition: top 1s ease;
  -webkit-transition: top 1s ease;
  -moz-transition: top 1s ease;
  -o-transition: top 1s ease;
  -ms-transition: top 1s ease;
  top: -100px;
}
nav.navbar-show-down {
  top: 0;
  background-color: white;
  border-bottom: 1px solid #d2d2d2;
}
/* above the fold - Jumbotron */
.jumbotron {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/home/bg-pro.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/home/bg-pro.jpg', sizingMethod='scale')";
  background-image: url('../../images/home/bg-pro.jpg');
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  margin: -101px 0px 0px 0px;
  position: relative;
}
.jumbotron h1 {
  color: #fff;
  margin-top: 100px;
  padding-bottom: 10px;
  font-size: 35px!important;
  text-shadow: 1px 1px #000;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 0px;
  text-align: left;
  text-transform: none;
}
.jumbotron p {
  color: #fff;
  font-size: 18px;
  margin-bottom: -10px;
}
/*.intro {
		padding-top: 0px;
		
	}*/
body > div.jumbotron > div:nth-child(1) {
  padding-bottom: 0px;
}
/*.publication-box .row {
		padding-bottom: 0px;
		padding-top: 0px;
	}*/
.form-inline .form-control {
  height: 48px;
  margin-right: -5px;
  border: 1px solid #b4bec8;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.btn-success {
  background-color: #0a64a0;
  color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid #0a64a0;
  height: 48px;
  margin-top: 11px;
  line-height: 2.4;
}
.btn-success:hover {
  background-color: #3d98cf;
  border: 1px solid #3d98cf;
}
/*.publication-box {
		position: absolute;
		left: 50px;
		bottom: 100px;
	}

	.publication {
		padding-bottom: 20px;
	}
	
	.publication p {
		font-style: italic;
		opacity: 0.6;
		filter:alpha(opacity=60); /* For IE8 and earlier */
/*font-size: 16px;
		margin-bottom: 0px;
	}
	
	.publication img {
		max-width: 125px;
		padding-bottom: 15px;
		padding-right: 0px;
		padding-left: 0px;
		opacity: 0.6;
		filter:alpha(opacity=60); /* For IE8 and earlier */
/*&:hover {
			opacity: 1;
			filter:alpha(opacity=100) }
	}*/
.bannerSlider {
  background: url('../../images/home/fleche.png') no-repeat center center;
  line-height: 62px;
  position: absolute;
  left: 48%;
  bottom: -30px;
  -webkit-animation: pulsate 3s infinite;
  -moz-animation: pulsate 3s infinite;
  -o-animation: pulsate 3s infinite;
  -ms-animation: pulsate 3s infinite;
  animation: pulsate 3s infinite;
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.30;
  }
}
@-moz-keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.30;
  }
}
@-o-keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.30;
  }
}
@keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.30;
  }
}
.bannerSlider a {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  font-weight: 300;
  font-size: x-large;
  font-style: italic;
  padding-right: 55px;
}
/* row users */
.users {
  background: #FFFFFF;
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  padding: 20px 0px 10px 0px;
}
/* row explication et iphone */
/*.explication {
		padding-bottom: 0px;
	}*/
div.row.explication {
  padding-bottom: 0px;
}
.explication h1 {
  text-align: left;
  margin-bottom: 30px;
  margin-top: 70px;
}
.explication div a.signup_button {
  margin: 20px;
}
.mockup-wrapper {
  overflow: hidden;
  /*height: 395px;*/
  position: relative;
}
/*.mockup {
		background: url('https://bankin.com/public/stylesheets/home/@%7Bimage_root%7Di-Phone-blanc.png') top center no-repeat;
		height: 500px;
		margin-top: 80px;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
		&:hover {
			margin-top:25px }
	}
	
	.shadow {
		position:absolute;
		bottom: 0px;
		left: 50%;
		margin-left: -240px;	
	}
	
	.explication blockquote {
		background-color: #e2f1f8;
		font-size: small;
		font-style: italic;
	}*/
/* row categorisation */
.categorisation h1 {
  text-align: left;
  margin-bottom: 30px;
  margin-top: 70px;
}
/*.categorisation img {
		margin-top: 40px;
	}
	
	.categorisation blockquote {
		background-color: #e2f1f8;
		font-size: small;
	}*/
.carousel {
  /*height: 600px;*/
  overflow: hidden;
  margin-top: 85px;
}
.carousel .item {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
/* row banques */
article {
  margin-top: 100px;
}
article p {
  padding-bottom: 20px;
}
.banques {
  overflow: hidden;
  height: 650px;
  margin-bottom: -20px;
}
#scrolling-iphone {
  height: 450px;
  width: 400px;
  overflow: hidden;
  margin-top: 0px;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}
#iphone_image {
  position: absolute;
  padding-top: 0;
  z-index: 15;
  margin-top: 0;
}
#screen {
  position: relative;
  z-index: -1;
  padding-top: 0;
}
/* security	*/
.security h1 {
  text-align: left;
  margin-bottom: 30px;
  margin-top: 70px;
}
.security img {
  margin-top: 75px;
}
/* features
	
	.features {
		background-color: #edeeef;
		padding-bottom: 30px;
	}
	
	.features {
		font-size: 13px;
	} */
.fontionnalite {
  padding-top: 20px;
  width: 40px;
  height: 40px;
}
.fonctionnalite img.img-responsive {
  text-align: left;
  margin: 0px;
  max-width: 20%;
}
.fonctionnalite p {
  line-height: 150%;
  font-style: italic;
}
.fonctionnalite h4 {
  text-transform: none;
}
/* row testimonials	*/
.testimonials {
  background-color: #edeeef;
  padding-bottom: 30px;
  font-size: 13px;
}
/*.testimonials h1 {
		margin-bottom: 0px;
	}*/
.glyphicon-star {
  color: #e5c600;
}
.testimonials p.text-center {
  margin-bottom: 30px;
}
.testimonials p {
  font-style: italic;
  line-height: 150%;
}
.testimonials p.lead,
.testimonials p.text-right {
  font-style: normal;
}
/*blockquote {
		font-size: medium;
	}*/
.testimonials blockquote {
  border-left: none;
  padding: 0px;
  font-size: 13px;
}
blockquote a {
  color: #999;
}
cite {
  font-size: 110%;
  padding-right: 15px;
}
/* row presse
	.presse {
		margin-bottom: 20px;
		padding-top: 50px;
		padding-bottom: 30px;
	}
	
	.presse p {
		font-style: italic;
	}
	
	.presse img {
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		padding-bottom: 15px;
	}*/
/* row action 
	.action {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	.store .compte a, .store .appstore a, .store .googlestore a, {
		padding-bottom: 0px;
		text-indent: -9999px;
		height: 72px;
		width: 72px;
		display: block;
		background-image: url('https://bankin.com/public/stylesheets/home/@%7Bimage_root%7Dapple-android-store.png');
		background-repeat: no-repeat;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	.store .compte, .store .appstore {
		border-right: 1px solid #d2d2d2;
		padding-right: 50px;
	}
	
	.store a:hover {
		background-position: left -72px;
		}
	
	.store .appstore a {
		background-position: left -144px;
		&:hover { 
			background-position: left -216px }
		}
	
	.store .googlestore a {
		background-position: left -288px;
		&:hover { 
			background-position: left -360px }
	} */
.liste li {
  color: #0a64a0;
}
.liste span {
  font-size: 10pt!important;
  color: #5b5b5b!important;
  font-weight: 400!important;
  text-align: left!important;
  font-style: normal!important;
}
#formulaire {
  /*border:#b4bec8 1px solid;*/
  text-align: left;
  color: #5b5b5b!important;
  font-weight: 400!important;
  font-size: 10pt;
  -webkit-transition: height 100ms linear;
}
#formulaire a {
  color: #60b934;
}
#formulaire a:hover {
  color: #7dd145;
}
#formulaire input {
  height: 50px;
  margin-bottom: 2%;
  padding: 4px;
  font-size: 10pt;
  color: #b4bec8;
  font-style: italic;
  border-radius: 5px;
  appearance: none;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  border: 1px solid #b4bec8;
}
#formulaire .btn-block {
  text-transform: uppercase;
  font-size: 16pt;
  font-weight: bold;
}
.check {
  width: 18px;
  height: 18px;
  color: black;
  margin-top: 2px;
  vertical-align: middle;
  background-color: white;
}
.check:checked {
  background-color: #60b934;
}
.step0 p {
  margin-left: 2%;
  margin-bottom: 0%;
}
.step0 input {
  width: 45%;
  margin: 2%;
  display: inline-block;
}
.step1 {
  display: none;
  visibility: hidden;
  /*height: 0px;*/
  opacity: 0;
  text-align: center;
}
.step1 p {
  margin-left: 2%;
  text-align: left;
  margin-bottom: 0px;
}
.step1 input {
  width: 45%;
  margin: 2%;
  display: inline-block;
}
.step2 {
  visibility: hidden;
  /*height: 0px;*/
  opacity: 0;
  text-align: center;
}
.step2 p {
  margin-left: 2%;
}
.step2 input {
  display: inline-block;
}
#accordion {
  background: rgba(255, 255, 255, 0.9) !important;
  color: #5b5b5b!important;
  font-weight: 400!important;
  padding: 10px 20px 10px 20px;
  font-size: 10pt;
  line-height: 150%;
}
#accordion h4 {
  font-size: 10pt;
  font-weight: bold;
  padding-bottom: 2px;
  text-transform: none;
  border-bottom: none;
  color: #0a64a0;
  position: relative;
  padding-left: 10px;
  padding-bottom: 0;
  width: 100%;
}
#accordion a {
  color: #0a64a0;
  margin-bottom: 0px;
}
#accordion a:hover {
  color: #7dd145;
}
#accordion h4 .glyphicon {
  position: absolute;
  top: 0;
  left: -8px;
}
.panel-default > .panel-heading {
  border-color: #b4bec8;
  background: rgba(255, 255, 255, 0.9);
}
div.list-group > a {
  font-size: 12px;
}
.well p {
  font-size: 12px;
}
.infoBancaire input {
  margin-bottom: 5px!important;
}
.blocklogo {
  display: block;
  text-align: center;
  background: inherit!important;
  margin: inherit!important;
  padding: 0px!important;
}
.blocklogo img {
  display: inline;
  margin: auto;
  padding: 0px 15px 0px 15px;
  width: 30%!important;
  vertical-align: middle;
}
@-webkit-keyframes faceAnim {
  from {
    opacity: 0.01;
  }
  50% {
    opacity: 0.05;
  }
  to {
    opacity: 0.01;
  }
}
#loger {
  /*display: none;*/
  width: 98%;
  padding: 1%;
  /*background: #0a64a0;*/
  height: 70px;
  z-index: 99;
}
#loger table {
  width: 80%;
  display: block;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 12px;
}
#loger img {
  width: 50%;
}
/* footer */
footer {
  text-align: right;
  font-style: italic;
}
.menu {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 15px;
  border-top: 1px solid #0a64a0;
}
.menu li {
  list-style-type: none;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  color: #0a64a0;
}
.menu img {
  padding-right: 15px;
}
#logo-footer {
  height: 25px;
  margin-left: -15px;
}
#information_popup {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #f0f0f0;
  font-weight: 400;
  padding: 10px 20px;
  background: #60b934;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #607a47;
  z-index: 25;
  position: fixed;
  bottom: -40px;
  right: 5px;
  opacity: 0;
  cursor: pointer;
}
#error_popup {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #f0f0f0;
  font-weight: 400;
  padding: 10px 20px;
  background: #de1d40;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  z-index: 20;
  position: fixed;
  bottom: -40px;
  right: 5px;
  opacity: 0;
  cursor: pointer;
}
/* confirmationPopup && feedBack*/
#confirmationBlackback,
#cguBlackback {
  z-index: 17;
  width: 100%;
  height: 100%;
  position: fixed;
  cursor: pointer;
  display: none;
  background-color: #070707;
  -moz-opacity: 0.7;
  opacity: 0.7;
  top: 0px;
}
#confirmationPopup {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #080808;
  display: none;
  width: 40%;
  height: 30%;
  position: fixed;
  z-index: 18;
  background-color: #fdfdfd;
  border-radius: 3px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
  /* IE6-9 */
}
#confirmationClose {
  position: absolute;
  top: 3px;
  right: 7px;
  cursor: pointer;
  width: 20px;
  height: auto;
}
#confirmationTop {
  position: relative;
  width: 100%;
  height: 10%;
}
#confirmationContent {
  position: relative;
  padding: 20px;
  padding-top: 10%;
  width: 90%;
  height: 30%;
}
#confirmationButtons {
  font-size: 14px;
  position: absolute;
  bottom: 12%;
  right: 2%;
  height: 10%;
}
#confirmationOKButton {
  padding: 5px 8px;
  cursor: pointer;
}
#confirmationOKButton:hover {
  cursor: pointer;
}
#confirmationCancelButton {
  padding: 5px 8px;
  cursor: pointer;
}
#confirmationCancelButton:hover {
  cursor: pointer;
}
#loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #fdfdfd url("../../images/app/fond.jpg") no-repeat fixed center -100px;
  width: 100%;
  height: 100%;
  vertical-align: center;
  text-align: center;
  float: left;
}
#loadingLabel {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
@media screen and (max-width: 765px) {
  body > nav > div > div.collapse.navbar-collapse.navbar-ex1-collapse > ul:nth-child(1) {
    margin-left: 0px;
  }
  .jumbotron {
    margin-top: -151px;
  }
}
@media screen and (max-width: 767px) {
  body > nav > div > div.navbar-collapse.navbar-ex1-collapse.collapse.in[style] {
    background-color: #fff !important;
  }
  body > nav > div > div.navbar-collapse.navbar-ex1-collapse.collapse.in > ul:nth-child(1) > li:nth-child(1) > a,
  body > nav > div > div.navbar-collapse.navbar-ex1-collapse.collapse.in > ul:nth-child(1) > li:nth-child(2) > a,
  body > nav > div > div.navbar-collapse.navbar-ex1-collapse.collapse.in > ul:nth-child(1) > li:nth-child(3) > a {
    color: #0a64a0 !important;
    margin-left: 40px;
  }
  body > nav > div > div.navbar-collapse.navbar-ex1-collapse.collapse.in > ul:nth-child(1) > li:nth-child(1) > a:hover,
  body > nav > div > div.navbar-collapse.navbar-ex1-collapse.collapse.in > ul:nth-child(1) > li:nth-child(2) > a:hover,
  body > nav > div > div.navbar-collapse.navbar-ex1-collapse.collapse.in > ul:nth-child(1) > li:nth-child(3) > a:hover {
    color: #3d98cf !important;
  }
  #signup {
    width: 125px!important;
  }
}
@media screen and (max-width: 930px) {
  article {
    margin-top: 50px;
  }
}
@media screen and (max-width: 992px) {
  .store .compte,
  .store .appstore {
    padding-right: 15px;
    border-right: none;
  }
}
@media screen and (max-width: 1200px) {
  #signupForm {
    text-align: right;
  }
  body > div.jumbotron > div:nth-child(2) > div.col-lg-4.col-lg-offset-8.col-md-5.col-md-offset-7.hidden-sm.hidden-xs > p {
    padding-left: 135px;
  }
}
@media screen and (max-width: 1270px) {
  .explication h1 {
    margin-top: 0px;
  }
}
